<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNt8iViWQXKyVzLb7pQY54m3nhOvPwvrg</string>
	<key>GCM_SENDER_ID</key>
	<string>373495449327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recyclo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>recyclo-d9f1b</string>
	<key>STORAGE_BUCKET</key>
	<string>recyclo-d9f1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373495449327:ios:72a616e66a7cd64784bd1a</string>
</dict>
</plist>